{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'store:product_list' %}">Products</a></li>
            <li class="breadcrumb-item active">Cart</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <form method="POST" id="paymentForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-page-inner">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="cartDepo">
                                {% if cart %}
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for product in cart %}
                                    <input type="text" value="{{ product.product.id }}" name="product" hidden>
                                    <tr>
                                        <td>
                                            <div class="img">
                                                {% for image in product.product.productimage_set.all %}
                                                {% if image.default %}
                                                <a href="{% url 'store:product_detail' product_id=product.product.id title=product.product.product_name.split|join:'_' %}"><img src="{{ image.image.url }}" alt="Image"></a>
                                                {% endif %}
                                                {% endfor %}
                                                <a href="{% url 'store:product_detail' product_id=product.product.id title=product.product.product_name.split|join:'_' %}" class="text-left">{{ product.product.product_name }}</a>
                                            </div>
                                        </td>
                                        <td>₦<span id="actualPrice">{{ product.product.price }}</span></td>
                                        <td>
                                            <div class="qty">
                                                <button class="btn-minus" onclick="subPrice('{{ product.id }}', '{{ product.product.price }}')" type="button"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="1" id="product{{ product.id }}" name="quantity" readonly>
                                                <button class="btn-plus" onclick="addPrice('{{ product.id }}', '{{ product.product.price }}')" type="button"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td>₦<span id="price{{ product.id }}" class="prices">{{ product.product.price }}</span></td>
                                        <td><a href="{% url 'transaction:remove_from_cart' pk=product.id %}"><button type="button"><i class="fa fa-trash"></i></button></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% else %}
                                <div style="text-align: center; color: gray; width: 100%; font-size: 25px; font-weight: bold; font-style: italic;">You have no product in your cart</div>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart-page-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cart-summary">
                                    <div class="cart-content">
                                        <h1>Cart Summary</h1>
                                        <p>Sub Total<span>₦<a id="subTotal">{{ cart_sub_total }}</a></span></p>
                                        <p>Shipping Cost<span>₦<a id="shippingCost">{{ shipping_cost }}</a></span></p>
                                        <h2>Grand Total<span>₦<a id="grandTotal">{{ cart_grand_total }}</a></span></h2>
                                        <input type="number" value="{{ cart_grand_total }}" name="total" id="totalValue" style="display: none;">
                                    </div>
                                    <div class="cart-btn">
                                        <button style="visibility: hidden;">Update Cart</button>
                                        <button type="submit" onclick="payWithPaystack()">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Cart End -->

<!-- Modal popup after payment successful -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="success" style="display: none;">Success</button>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"  style="background-color: #FF6F61 !important; color: #fff;">
                <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 30px; color: #fff;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>Your payment was successful!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" style="border-color: #FF6F61 !important;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal popup end -->

<script src="https://js.paystack.co/v1/inline.js"></script> 
<script>
    // Handling CSRF Token for django to accept POST request from Javascript
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    // Adding and subtracting quantity of products
    function addPrice(id, price){
        let productPrice = document.getElementById(`price${id}`)
        document.getElementById(`price${id}`).innerHTML = parseInt(productPrice.innerHTML) + parseInt(price);
        document.getElementById(`product${id}`).value = parseInt(document.getElementById(`product${id}`).value) + 1;

        let subTotal = parseInt(document.getElementById("subTotal").innerHTML) + parseInt(price)
        document.getElementById("subTotal").innerHTML = subTotal

        let grandTotal = subTotal + parseInt(document.getElementById("shippingCost").innerHTML)
        document.getElementById("grandTotal").innerHTML = grandTotal
        document.getElementById("totalValue").value = grandTotal
    }

    function subPrice(id, price){
        let productPrice = document.getElementById(`price${id}`)
        if(document.getElementById(`product${id}`).value != '0'){
            document.getElementById(`price${id}`).innerHTML = parseInt(productPrice.innerHTML) - parseInt(price)
            document.getElementById(`product${id}`).value = parseInt(document.getElementById(`product${id}`).value) - 1;
            
            let subTotal = parseInt(document.getElementById("subTotal").innerHTML) - parseInt(price)
            document.getElementById("subTotal").innerHTML = subTotal

            let grandTotal = subTotal + parseInt(document.getElementById("shippingCost").innerHTML)
            document.getElementById("grandTotal").innerHTML = grandTotal
            document.getElementById("totalValue").value = grandTotal
        }
    }

    // Paystack implementation
    const paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener("submit", payWithPaystack, false);
    function payWithPaystack(e) {
        e.preventDefault();
        let price = document.getElementById("totalValue").value * 100
        let handler = PaystackPop.setup({
            key: '{{ paystack_pubkey }}',
            email: "{{ request.user.email }}",
            amount: price.toString(),
            ref: 'refno_'+Math.floor((Math.random() * 1000000000) + 1),
            onClose: function(){
                alert('Window closed.');
            },
            callback: function(response){
                let refNo = response.reference

                fetch(`http://127.0.0.1:8000/verify/${refNo}`)
                .then((res) => res.json())
                .then((data) => {
                    "{% for product in cart %}"
                    // Sending order to customer's account
                    fetch('http://127.0.0.1:8000/api/order', {
                        method: 'POST',
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken
                        },
                        body: JSON.stringify({
                            "user": parseInt("{{ request.user.id }}"),
                            "order_uid": data[3].reference,
                            "authorization_code": data[3].authorization.authorization_code,
                            "product": parseInt("{{ product.product.id }}"),
                            "quantity": parseInt(document.getElementById("product{{ product.id }}").value),
                            "price": parseInt(document.getElementById("price{{ product.id }}").innerHTML),
                            "status": "PENDING"
                        })
                    })
                    
                    // Sending order to seller's account
                    fetch('http://127.0.0.1:8000/api/pending', {
                        method: 'POST',
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken
                        },
                        body: JSON.stringify({
                            "seller": parseInt("{{ product.product.seller.id }}"),
                            "customer": parseInt("{{ request.user.id }}"),
                            "product": parseInt("{{ product.product.id }}"),
                            "order_uid": data[3].reference,
                            "quantity": parseInt(document.getElementById("product{{ product.id }}").value),
                            "total_price": parseInt(document.getElementById("price{{ product.id }}").innerHTML)
                        })
                    })

                    // Incrementing product sale count
                    fetch('http://127.0.0.1:8000/api/product/{{ product.product.id }}')
                    .then((res) => res.json())
                    .then((data) => {
                        fetch('http://127.0.0.1:8000/api/product/{{ product.product.id }}', {
                            method: 'PUT',
                            headers: {
                                "Content-type": "application/json",
                                "X-CSRFToken": csrftoken
                            },
                            body: JSON.stringify({
                                "seller": data.seller,
                                "sold": data.sold + 1
                            })
                        })
                        .then((res) => console.log(res.json()))
                    })
                    "{% endfor %}"

                    document.getElementById("success").click();
                    document.getElementById("cartDepo").innerHTML = `
                        <div style="text-align: center; color: gray; width: 100%; font-size: 25px; font-weight: bold; font-style: italic;">You have no product in your cart</div>
                    `
                    document.getElementById("cart_count").innerHTML = '0';
                })
            }
        });
        handler.openIframe();
    }
</script>
{% endblock %}