{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .card {
        max-width: 1000px;
        margin: 2vh
    }

    .card-top {
        padding: 0.7rem 5rem
    }

    .card-top a {
        float: left;
        margin-top: 0.7rem
    }

    #logo {
        font-family: 'Dancing Script';
        font-weight: bold;
        font-size: 1.6rem
    }

    .card-body {
        padding: 0 5rem 5rem 5rem;
    }

    @media(max-width:768px) {
        .card-body {
            padding: 0 1rem 1rem 1rem;
        }

        .card-top {
            padding: 0.7rem 1rem
        }
    }

    .row {
        margin: 0
    }

    .upper {
        padding: 1rem 0;
        justify-content: space-evenly
    }

    #three {
        border-radius: 1rem;
        width: 22px;
        height: 22px;
        margin-right: 3px;
        border: 1px solid blue;
        text-align: center;
        display: inline-block
    }

    #payment {
        margin: 0;
        color: blue
    }

    .icons {
        margin-left: auto
    }

    form span {
        color: rgb(179, 179, 179)
    }

    .cover form {
        padding: 2vh 0
    }

    .cover input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    .cover input:focus::-webkit-input-placeholder {
        color: transparent
    }

    .header {
        font-size: 1.5rem
    }

    .left {
        background-color: #ffffff;
        padding: 2vh
    }

    .left img {
        width: 2rem
    }

    .left .col-4 {
        padding-left: 0
    }

    .right .item {
        padding: 0.3rem 0
    }

    .right {
        background-color: #ffffff;
        padding: 2vh
    }

    .col-8 {
        padding: 0 1vh
    }

    .lower {
        line-height: 2
    }

    input[type=checkbox] {
        width: unset;
        margin-bottom: unset
    }

    #cvv {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }
</style>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'store:product_list' %}">Products</a></li>
            <li class="breadcrumb-item active">Checkout</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="cover py-3 d-flex justify-content-center">
    <div class="card">
        <div class="card-body pt-5">
            <div class="row mt-5">
                <div class="col-md-7">
                    <div class="left border">
                        <div class="row"> <span class="header">Payment</span>
                            <div class="icons"> 
                                <img src="https://img.icons8.com/color/48/000000/visa.png" /> 
                                <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> 
                                <img src="https://img.icons8.com/color/48/000000/maestro.png" /> 
                            </div>
                        </div>
                        <form method="POST">
                            {% csrf_token %} 
                            <span>Cardholder's name:</span> 
                            <input placeholder="Linda Williams"> <span>Card Number:</span> 
                            <input placeholder="0125 6780 4567 9909">
                            <div class="row">
                                <div class="col-4">
                                    <span>Expiry date:</span> 
                                    <input placeholder="YY/MM"> 
                                </div>
                                <div class="col-4">
                                    <span>CVV:</span> 
                                    <input id="cvv"> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="right border">
                        <div class="header">Order Summary</div>
                        <p>{{ orders|length }} item(s)</p>
                        {% for item in orders %}
                        <div class="row item">
                            <div class="col-4 align-self-center">
                                {% for image in item.product.productimage_set.all %}
                                {% if image.default %}
                                <img class="img-fluid" src="{{ image.image.url }}" alt="Product Image">
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-8">
                                <div class="row"><b>₦ {{ item.price }}</b></div>
                                <div class="row text-muted">{{ item.product.product_name|truncatechars:40 }}</div>
                                <div class="row">Qty: {{ item.quantity }}</div>
                            </div>
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="row lower">
                            <div class="col text-left">Subtotal</div>
                            <div class="col text-right">₦ {{ total_price }}</div>
                        </div>
                        <div class="row lower">
                            <div class="col text-left">Delivery</div>
                            <div class="col text-right">₦ {{ shipping }}</div>
                        </div>
                        <div class="row lower">
                            <div class="col text-left"><b>Total to pay</b></div>
                            <div class="col text-right"><b>₦ {{ grand_price }}</b></div>
                        </div>
                        <div class="row lower">
                        </div> <button class="btn w-100 py-2 my-3" type="submit">Place order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}