{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="% url 'store:product_list' %}">Products</a></li>
            <li class="breadcrumb-item active">Log in</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Login Start -->
<form method="POST">
    {% csrf_token %}
    <div class="login">
        <div class="container-fluid">
            <div class="justify-content-center d-flex">
                <div class="col-lg-6 col-md-12">
                    <div class="login-form">
                        <div class="row">
                            <div class="col-12">
                                <label>Username</label>
                                <input class="form-control" type="text" placeholder="Username" name="username" required>
                            </div>
                            <div class="col-12">
                                <label>Password</label>
                                <input class="form-control" type="password" placeholder="Password" name="password" required>
                            </div>
                            <div class="text-danger my-2 w-100" style="font-size: 12px; font-weight: 600; text-align: center;">{{ error }}</div>
                            <div style="border: .2px solid #00000028; margin: 10px 0; width: 100%;"></div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                </div>
                            </div>
                            <div class="col-md-12 justify-content-center d-flex mt-3">
                                <button class="btn w-100" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Login End -->
{% endblock %}