{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .disabled.next a{
        color: #00000065 !important;
        border-color: #00000065 !important;
        border-radius: 0 4px 4px 0;
        background-color: transparent !important;
    }
    .disabled.prev a{
        color: #00000065 !important;
        border-color: #00000065 !important;
        border-radius: 4px 0 0 4px;
        background-color: transparent !important;
    }
    .pagination li a{
        border-color: #000 !important;
        transition: 200ms;
    }
    .pagination li a:hover{
        background-color: black;
        color: #FF6F61;
    }
    .pagination .active a{
        background-color: black !important;
        color: #FF6F61 !important;
    }
</style>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'store:product_list' %}">Products</a></li>
            <li class="breadcrumb-item active">My Account</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag" style="width: 30px; text-align: center;"></i>Orders</a>
                    <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i class="fas fa-map-marker-alt" style="width: 30px; text-align: center;"></i>Address</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user" style="width: 30px; text-align: center;"></i>Update Account</a>
                    <a class="nav-link" href="{% url 'account:signout' %}"><i class="fa fa-sign-out-alt" style="width: 30px; text-align: center;"></i>Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                {% if message.success %}
                <div class="alert alert-success" role="alert">{{ message.success }}</div>
                {% elif message.error %}
                <div class="alert alert-danger" role="alert">{{ message.error }}</div>
                {% endif %}
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                {% if orders %}
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="5%">No</th>
                                        <th width="35%">Product</th>
                                        <th width="5%">Quantity</th>
                                        <th width="12%">Price</th>
                                        <th width="15%">Status</th>
                                        <th width="15%">Date</th>
                                        <th width="12%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ order.product.product_name }}</td>
                                        <td>{{ order.quantity }}</td>
                                        <td>₦{{ order.price }}</td>
                                        <td>{{ order.get_status_display }}</td>
                                        <td>{{ order.order_date.date }}</td>
                                        <td><a href="{% url 'store:product_detail' order.product.id order.product.product_name.split|join:'_' %}"><button class="btn">View</button></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% else %}
                                <div style="text-align: center; color: #070707; width: 100%; font-size: 15px; font-weight: bold; font-style: italic;">You have not placed any orders.</div>
                                {% endif %}
                            </table>
                        </div>
                        {% if orders %}
                        <!-- Pagination Start -->
                        <div class="col-md-12 my-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if orders.has_previous %}
                                    <li class="page-item"><a href="?page={{ orders.previous_page_number }}" class="page-link" tabindex="-1">Previous</a></li>
                                    {% else %}
                                    <li class="disabled prev"><a class="page-link" tabindex="-1">Previous</a></li>
                                    {% endif %}
                                    {% for i in orders.paginator.page_range %}
                                    {% if orders.number == i %}
                                        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if orders.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">Next</a></li>
                                    {% else %}
                                    <li class="disabled next"><a class="page-link">Next</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Ends -->
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                        <h4 style="font-weight: bold;">ADDRESS</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h5 style="font-weight: 800; text-transform:uppercase; padding: 20px 0 5px 0; border-bottom: 1px solid #0000004d;">Permanent Address</h5>
                                <p>{% if profile.permanent_address %}{{ profile.permanent_address }}{% else %}---{% endif %}</p>
                                <p>Mobile: {% if profile.mobile %}{{ profile.mobile }}{% else %}---{% endif %}</p>
                            </div>
                            <div class="col-md-6">
                                <h5 style="font-weight: 800; text-transform:uppercase; padding: 20px 0 5px 0; border-bottom: 1px solid #0000004d;">Shipping Address</h5>
                                <p>{% if profile.shipping_address %}{{ profile.shipping_address }}{% else %}---{% endif %}</p>
                                <p>Mobile: {% if profile.mobile %}{{ profile.mobile }}{% else %}---{% endif %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Account Details</h4>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="First Name" name="first_name" value="{{ profile.first_name }}">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Last Name" name="last_name" value="{{ profile.last_name }}">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Mobile" name="mobile" value="{{ profile.mobile }}">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Email" name="email" value="{{ profile.email }}">
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Permanent Address" name="permanent_address"  value="{{ profile.permanent_address }}">
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Shipping Address" name="shipping_address" value="{{ profile.shipping_address }}">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn" type="submit" name="update_account">Update Account</button>
                                    <br><br>
                                </div>
                            </div>
                        </form>
                        <div style="border: .5px solid #00000033; width: 100%; margin: 20px 0;"></div>
                        <h4>Password change</h4>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <input class="form-control mb-0" type="password" placeholder="Current Password" name="current_password">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input class="form-control mb-0" type="password" placeholder="New Password" name="new_password">
                                </div>
                                <div class="col-md-6 mt-3">
                                    <input class="form-control mb-0" type="password" placeholder="Confirm Password" name="confirm_password">
                                </div>
                                <div class="col-md-12 mt-3">
                                    <button class="btn" type="submit" name="change_password">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->

{% endblock %}