{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Wishlist</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Wishlist Start -->
<div class="wishlist-page">
    <div class="container-fluid">
        <div class="wishlist-page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            {% if wishlist %}
                            <thead class="thead-dark">
                                <tr>
                                    <th width="55%">Product</th>
                                    <th width="15%">Price</th>
                                    <th width="15%">Add to Cart</th>
                                    <th width="15%">Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                {% for product in wishlist %}
                                <tr>
                                    <td>
                                        <div class="img">
                                            {% for image in product.product.productimage_set.all %}
                                            {% if image.default %}
                                            <a href="{% url 'store:product_detail' product_id=product.product.id title=product.product.product_name.split|join:'_' %}"><img src="{{ image.image.url }}" alt="Image"></a>
                                            {% endif %}
                                            {% endfor %}
                                            <a href="{% url 'store:product_detail' product_id=product.product.id title=product.product.product_name.split|join:'_' %}" class="text-left">{{ product.product.product_name }}</a>
                                        </div>
                                    </td>
                                    <td>₦{{ product.product.price }}</td>
                                    <td><a href="{% url 'transaction:add_to_cart' product.product.id %}"><button class="btn-cart px-3" style="border-radius: 0 !important;">Add to Cart</button></a></td>
                                    <td><a href="{% url 'transaction:remove_from_wishlist' pk=product.id %}"><button><i class="fa fa-trash"></i></button></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% else %}
                            <div style="text-align: center; color: gray; width: 100%; font-size: 25px; font-weight: bold; font-style: italic;">You have no product in your wishlist</div>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wishlist End -->
{% endblock %}